{% extends 'base.html' %}
{% block content %}
{% import 'bootstrap/wtf.html' as wtf %}
<h1>
    Dashboard
    <a href='download/telecol'>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
        </svg>
    </a>
</h1>



<br>

<div class="container">
    <div class="table-responsive">
        <table>
            <tr>
                <td>Issue Closed per Bulan</td>
                <td>Total Status Distribution</td>
            </tr>
            <tr>
                <td><div id='chart' class='chart'></div></td>
                <td><div id='chart2' class='chart'></div></td>
            </tr>
            <tr>
                <td>Task 'On Progress' Per Area CG</td>

            </tr>
            <tr>
                <td><div id='chart3' class='chart'></div></td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
      var graphs = {{graphJSON | safe}};
      Plotly.plot('chart',graphs,{});
    </script>
    <script type='text/javascript'>
      var graphs = {{graphJSON2 | safe}};
      Plotly.plot('chart2',graphs,{});
    </script>
    <script type='text/javascript'>
      var graphs = {{graphJSON3 | safe}};
      Plotly.plot('chart3',graphs,{});
    </script>
    <script>
        $(document).ready(function () {
          $('#data').DataTable();
        });
    </script>
{% endblock %}
