{% extends 'base.html' %}
{% block content %}
{% import 'bootstrap/wtf.html' as wtf %}
<h1>Memo Nota</h1>

<div class="container">
  <div class="row justify-content-start">
    {% if session['namauser']=='admin' %}
    <div class="col-md-auto">

      <div class="card text-center" style="width: 15rem;">
          <img src="static/4.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Tambah Historis</h5>
          <!--<p class="card-text">Daftarkan list nota / memo sebelumnya disini.</p>-->
          <a href="{{url_for('th')}}" class="btn btn-primary">Click Here</a>
        </div>
      </div>

    </div>
    {% else %}
    <div class="col-md-auto">

      <div class="card text-center" style="width: 15rem;">
          <img src="static/4.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Tambah Baru</h5>
          <!--<p class="card-text">Daftarkan memo / nota kamu disini untuk mendapatkan nomernya. Jangan lupa untuk menggunakan akun masing-masing ya:)</p>-->
          <a href="{{url_for('tambah_all')}}" class="btn btn-primary">Click Here</a>
        </div>
      </div>

    </div>
    {% endif %}

    <div class="col-md-auto">

      <div class="card text-center" style="width: 15rem;">
        <img src="static/5.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">List Nota</h5>
          <!--<p class="card-text">Lihat semua list nota disini.</p>-->
          <a href="{{url_for('list_nota')}}" class="btn btn-primary">Click Here</a>
        </div>
      </div>
    </div>

    <div class="col-md-auto">

      <div class="card text-center" style="width: 15rem;">
        <img src="static/5.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">List Memo</h5>
          <!--<p class="card-text">Lihat semua list memo disini.</p>-->
          <a href="{{url_for('list_memo')}}" class="btn btn-primary">Click Here</a>
        </div>
      </div>

    </div>
    <div class="col-md-auto">

      <div class="card text-center" style="width: 15rem;">
        <img src="static/5.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Form Pembelian</h5>
          <!--<p class="card-text">Lihat semua list memo disini.</p>-->
          <a href="{{url_for('list_beli')}}" class="btn btn-primary">Click Here</a>
        </div>
      </div>

    </div>

    </div>
  </div>
</div>

{% endblock %}
