{% extends 'base.html' %}
{% block content %}
{% import 'bootstrap/wtf.html' as wtf %}

<div class="container">
  <form method="POST">
    {{form.hidden_tag()}}
    {{wtf.form_field(form.filterjudul)}}
    {{wtf.form_field(form.filtertahun,value=year)}}
    {{form.submit()}}

  </form>
</div>
<br>

<div class="container">
  {% if session['user']=='admin' %}
  <table class="table">
    <thead>
      <tr>
        <th style="width:15%">Nomor Nota</th>
        <th style="width:23%">Judul Nota</th>
        <th style="width:10%">Nama PIC</th>
        <th style="width:10%">Tanggal Buat</th>
        <th style="width:35%">URL</th>
        <th style="width:7%">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for x in df %}
      <tr>

        <td>{{x.no_nota}}</td>
        <td>{{x.judul_nota}}</td>
        <td>{{x.penulis_nota}}</td>
        <td>{{x.tanggal_buat}}</td>
        <td>{{x.linknota}}</td>
        <td>
          <a class="btn btn-warning btn-sm" href="/updatenota/{{x.id}}" role="button">Update</a>
          <a class="btn btn-danger btn-sm" href="/delnota/{{x.id}}" role="button">Hapus</a>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
    <a class="btn btn-primary btn-sm" href="/download/nota" role="button">Download All</a>
  {% else %}

  <table class="table">
    <thead>
      <tr>

        <th style="width:15%">Nomor Nota</th>
        <th style="width:25%">Judul Nota</th>
        <th style="width:20%">Nama PIC</th>
        <th style="width:20%">Tanggal Buat</th>
        <th style="width:20%">URL</th>

      </tr>
    </thead>
    <tbody>
      {% for x in df %}
      <tr>

        <td>{{x.no_nota}}</td>
        <td>{{x.judul_nota}}</td>
        <td>{{x.penulis_nota}}</td>
        <td>{{x.tanggal_buat}}</td>
        {% if x.linknota %}
        <td><a href="{{x.linknota}}">View</a></td>
        {% else %}
        <td>-</td>
        {% endif %}

      </tr>
      {% endfor %}

    </tbody>
  </table>
  {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){$('table').DataTable();});
  // $(document).ready(function(){$('#tabeljanjian2').DataTable();});
</script>
{% endblock %}  