{% extends 'base.html' %}
{% block content %}
{% import 'bootstrap/wtf.html' as wtf %}
<h1>SPPI edit</h1>
<div class="container">
    <form method="POST">
        {{form.hidden_tag()}}

        {{wtf.form_field(form.nip)}}
        {{wtf.form_field(form.nama)}}
        {{wtf.form_field(form.reg)}}
        {{wtf.form_field(form.cabang)}}
        {{wtf.form_field(form.jabatan)}}
        {{wtf.form_field(form.predikat)}}
        {{wtf.form_field(form.status)}}
        {{wtf.form_field(form.act_date)}}
        {{wtf.form_field(form.exp_date)}}
        {{wtf.form_field(form.next_date)}}

        {{form.submit()}}
    </form>
</div>

{% endblock %}


