{% extends 'base.html' %}
{% block content %}
{% import 'bootstrap/wtf.html' as wtf %}
<h1>SPPI expired</h1>

<div class="container">
    <table id="datasppiexp" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>NIP</th>
                <th>Nama</th>
                <th>Cabang</th>
                <th>Jabatan</th>
                <th>Exp Date</th>
                <th>Jadwal Sertifikasi Selanjutnya</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for i in df %}
            <tr>
                <td>{{i.nip}}</td>
                <td>{{i.nama}}</td>
                <td>{{i.cabang}}</td>
                <td>{{i.jabatan}}</td>
                <td>{{i.exp_date}}</td>
                <td>{{i.next_date}}</td>
                <td>
                    <a class="btn btn-danger btn-sm" href="{{url_for('delsppi',id=i.id)}}" role="button">Hapus</a>
                    <a class="btn btn-primary btn-sm" href="{{url_for('sppiedit',id=i.id)}}" role="button">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#datasppiexp').DataTable();
    });
  </script>
{% endblock %}

